body {
    background-color: #ebebea;
    padding: 10px;
    font-family: Georgia;
	box-sizing: border-box;
}


/***** Main nav *****/

#logo {
    width: 5rem;
}

#navbar-brand-custom {
    padding: 0;
	margin-left: 5px;
}

#active-custom {
    background-color: white;
    font-weight: bold;
}

.navbar-ul-custom a {
    color: #777;
    font-size: 1rem;
    margin: 0 20px 0 0;
}

.navbar-ul-custom a:hover {
    text-decoration: none;
    color: pink;
}

.navbar-default-custom {
    margin: 0;
    text-align: right;
}

#to-right {
    text-align: right;
}


/**** Main header ****/

.main-header {
    background-color: #f8ebea;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0;
    line-height: 1.5;
}


/******** O firmie *******/

#aboutUs {
    color: #bbe0b2;
    font-size: 2em;
    font-weight: bold;
    padding-left: 1.5rem;
}

.gardener {
    float: left;
    width: 20%;
    padding-right: 25px;
}

.ourPassion {
    text-align: right;
    padding: 0;
    font-size: 20px;
    color: #f4c6ce;
    text-shadow: -1px 1px hotpink;
}

#delete-border-bottom {
    border-bottom: none;
}

#delete-border-top {
    border-top: none;
}


/******* Offert ********/

.row-custom {
    margin: 50px 0;
}

.thumbnail-custom {
    padding: 0;
    margin: 5px;
}

h4 {
    color: #f4c6ce;
    text-shadow: -1px 1px hotpink;
    height: 35px;
    padding: 5px;
}
.image-subheading {
	min-height: 70px;
}

#no-margin {
    margin-right: 0;
}
.img-wrapper {
	display: inline-block;
	overflow: hidden;
}

.img-wrapper {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	vertical-align: middle;
}

.img-wrapper:hover {
	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
}


/***** contact ********/

.contact-space {
    padding: 50px 0;
}

.main-background {
    background-color: #ffffff;
    border: 1px solid lightgray;

}

.cont {
    margin-left: 50px;
}

.address {
    margin-left: 50px;
    color: gray;
}


input[type='submit'] {
    background: #e6e6e6;
    font-size: 1em;
    border-radius: 3px;
    color: #f4c6ce;
    text-shadow: -1px 1px hotpink;
}

input[type='submit']:hover {
    background: pink;
    font-size: 1em;
    border-radius: 3px;
    margin: 3px;
    color: #f4c6ce;
    text-shadow: -1px 1px hotpink;
}
.form {
    margin-left: 50px;
}


/******footer ******/

.footer {
    background-color: gray;
    margin-top: 50px;

}

.text-footer {
    padding: 20px 50px;
    color: white;
    text-shadow: none;
	font-size: 1.3rem;
}

